.about-us-section {
	background: #b4b4b4 url('/img/background-images/about-us.jpg') center/cover no-repeat;
	background-blend-mode: multiply;
	color: #fff;

	.content {
		backdrop-filter: blur(8px);
		padding: rem-calc(100 0 140);
	}
}
