.contact-banner {
	&.light-banner {
		background: #ded8cc;
		color: $black;
	}

	&.dark-banner {
		background: $gctx-brown;
		color: #fff;
	}

	.prose-column {
		padding-top: rem-calc(40);

		.prose-wrap {
			max-width: rem-calc(400);

			p {
				padding: 0 rem-calc(16);
			}
		}
	}

	.contact-info-column {
		position: relative;
		padding: rem-calc(40 0);

		&:before {
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: .7;
			background: transparent url('/img/ornaments/pot2.svg') center/contain no-repeat;
		}

		.prose-wrap {
			position: relative;
		}
	}
}

@include breakpoint(medium) {
	.contact-banner {
		.prose-column {
			.prose-wrap {
				p {
					padding: 0;
				}
			}
		}
	}
}

@include breakpoint(large) {
	.contact-banner {
		.prose-column {
			padding-bottom: rem-calc(40);
		}

		.contact-info-column {
			padding: rem-calc(60 0);
		}
	}
}

.site-colophon {
	text-align: center;
	padding: rem-calc(16 0);

	a {
		color: #fff;
		text-transform: uppercase;
		letter-spacing: rem-calc(0.6);

		span {
			text-decoration: underline;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
