.hip-section {
	padding-top: 80px;
	padding-bottom: 80px;
	background: linear-gradient(
	#adadad,
	#adadad
	), url('/img/background-images/houston-interior-plants.jpg') center/cover no-repeat;
	background-blend-mode: multiply;

	@include breakpoint(xxlarge) {
		padding-top: 100px;
		padding-bottom: 100px;
		// background: linear-gradient(
		// #adadad,
		// #adadad
		// ), url('/img/background-images/hip.jpg') center/cover no-repeat;
	}

	.content-wrap {
		@include breakpoint(medium) {
			padding-left: rem-calc(80);
		}

		@include breakpoint(xlarge) {
			padding-left: 0;
		}
	}

	.heading-wrap {
		@include breakpoint(small only) {
			margin-left: auto;
			margin-right: auto;
		}

		max-width: rem-calc(420);

		@include breakpoint(medium) {
			max-width: 568px;
		}
	}

	h2 {
		@include separator(left, 5px, 270px, $gctx-green, 12px);
		text-shadow: 0 0 32px rgba(0,0,0,.80);
		margin-bottom: rem-calc(40);
		color: #fff;
		font-weight: bold;
	}

	.prose-wrap {
		max-width: rem-calc(420);
		margin-bottom: rem-calc(40);

		@include breakpoint(small only) {
			margin-left: auto;
			margin-right: auto;
		}

		@include breakpoint(medium) {
			max-width: 468px;
		}
	}

	p {
		text-shadow: 0 0 24px #000;
		margin-bottom: rem-calc(16);
		color: #fff;
	}

	.button-wrap {
		max-width: rem-calc(420);

		@include breakpoint(small only) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	a.button {
		padding: rem-calc(16);
		line-height: 1;
		color: #000;
		font-weight: bold;
		font-size: rem-calc(18);
		letter-spacing: .5px;
		border-radius: 5000px !important;
		background: #fff;
		border: 3px solid #fff;

		&:hover {
			background: $gctx-green;
			color: #fff;
			border: 3px solid $gctx-green;
		}

		span {
			display: none;
		}

		@include breakpoint(medium) {
			padding: rem-calc(16 24);

			span {
				display: inline;
			}
		}
	}
}
