.hip-section {
	padding-top: 80px;
	padding-bottom: 80px;
	background: linear-gradient(
	#adadad,
	#adadad
	), url('/img/background-images/about-us-lyrata-bg.jpg') center/cover no-repeat;
	background-blend-mode: multiply;

	@include breakpoint(xxlarge) {
		padding-top: 100px;
		padding-bottom: 100px;
		background: linear-gradient(
		#adadad,
		#adadad
		), url('/img/background-images/hip.jpg') center/cover no-repeat;
	}

	.heading-wrap {
		max-width: rem-calc(420);

		@include breakpoint(medium) {
			max-width: 568px;
		}
	}

	h2 {
		@include separator(left, 5px, 270px, #a0cc3a, 12px);
		text-shadow: 0 0 32px rgba(0,0,0,.80);
		margin-bottom: rem-calc(40);
	}

	.prose-wrap {
		max-width: rem-calc(420);
		margin-bottom: rem-calc(40);

		@include breakpoint(medium) {
			max-width: 468px;
		}
	}

	p {
		text-shadow: 0 0 24px #000;
		margin-bottom: rem-calc(16);
	}

	a.button {
		padding: rem-calc(16);
		line-height: 1;
		color: #000;
		font-weight: bold;
		font-size: rem-calc(18);
		letter-spacing: .5px;
		border-radius: 5000px !important;
		background: #fff;
		border: 3px solid #fff;

		span {
			display: none;
		}

		@include breakpoint(medium) {
			padding: rem-calc(16 24);

			span {
				display: inline;
			}
		}
	}
}
