.scheduling-banner {
	.prose-wrap {
		max-width: rem-calc(400);
		margin-bottom: rem-calc(40);

		p.scheduling-prose {
			padding: 0 rem-calc(16);
		}

		@include breakpoint(medium) {
			max-width: rem-calc(530);

			p.scheduling-prose {
				padding: 0;
			}
		}
	}
}
