.scheduling-banner {
	&.light-banner {
		background: #ded8cc;
		color: $black;
	}

	background: $gctx-brown;
	color: #fff;

	.prose-wrap {
		max-width: rem-calc(400);
		// margin-bottom: rem-calc(40);

		p.scheduling-prose {
			padding: 0 rem-calc(16);
		}
	}
}

@include breakpoint(medium) {
	.scheduling-banner {
		.prose-wrap {
			max-width: rem-calc(530);

			p.scheduling-prose {
				padding: 0;
			}
		}
	}
}

@include breakpoint(large) {
	.scheduling-banner {
		.prose-wrap {
			margin-bottom: 0;
		}
	}
}
