.scheduling-banner {
	&.light-banner {
		background: #ded8cc;
		color: $black;
	}

	background: $gctx-brown;
	color: #fff;

	.prose-wrap {
		max-width: rem-calc(400);

		p.scheduling-prose {
			padding: 0 rem-calc(16);
		}
	}

	.prose-column {
		padding-top: rem-calc(40);
	}

	.contact-info-column {
		padding: rem-calc(40 0);
		background: transparent url('/img/ornaments/flower-bg.png') center/contain no-repeat;
	}
}

@include breakpoint(medium) {
	.scheduling-banner {
		.prose-wrap {
			max-width: rem-calc(530);

			p.scheduling-prose {
				padding: 0;
			}
		}
	}
}

@include breakpoint(large) {
	.scheduling-banner {
		.prose-wrap {
			margin-bottom: 0;
		}
	}
}
