.services-section {
	padding-top: rem-calc(80);

	.service-option-card {
		background: #fafafa;
		border: rem-calc(1) solid #979797;
		border-radius: rem-calc(32);
		padding: rem-calc(20);
		height: rem-calc(450);

		.h3 {
			padding-top: rem-calc(20);
			margin-bottom: 0;
			height: rem-calc(100);
		}
	}
}
